{{partial "head.html" .}}
<header class="home">
    <div class="content">
        <div class="logo">
            <h3>
                September 28, 2017<br />
                St. Louis, MO
            </h3>
            <img alt="elm-conf" src="/images/logos/elm-conf/mono-white.png"/>
        </div>
        {{partial "navLinks.html" .}}
        <div class="info">
            <p>
                elm-conf is returning to St. Louis on September 28, 2017 for a
                day of learning, speaking, and connecting with the Elm language
                community. We will be once again colocating with Strange Loop,
                and the conference will run on their preconference day. Join the
                list below to be the first to know when tickets go on sale. See
                you soon!
            </p>
            <!-- TODO: mailchimp -->
            <form action="">
                <input name="" type="email" value="" placeholder="you@gmail.com"/>
                <input name="" type="submit" value="Let Me Know"/>
            </form>
        </div>
    </div>
</header>
<main class="home">
    {{with index (where .Site.Pages "Section" "news") 0}}
    <article>
        <h1>{{.Title}}</h1>
        {{with .Params.siteImage}}<img class="siteImage" src="{{.}}"/>{{end}}
        {{.Summary}}
        <a href="{{.URL}}">Read More</a>
    </article>
    {{end}}
</main>
{{partial "footer.html" .}}
