{{partial "head.html" .}}
{{partial "nav.html" .}}
<main>
    {{if ne .Content ""}}
    <h1>{{.Title}}</h1>
    {{.Content}}
    {{end}}

    {{with where .Pages "Params.level" "root"}}
    <section id="root-sponsors">
        <h1 class="level">Root Sponsors</h1>
        {{range .}}
        {{.Render "full"}}
        {{end}}
    </section>
    {{end}}

    {{with where .Pages "Params.level" "branch"}}
    <section id="branch-sponsors">
        <h1 class="level">Branch Sponsors</h1>
        {{range .}}
        {{.Render "full"}}
        {{end}}
    </section>
    {{end}}

    {{with where .Pages "Params.level" "production"}}
    <section id="production-sponsors">
        <h1 class="level">Production Sponsors</h1>
        {{range .}}
        {{.Render "full"}}
        {{end}}
    </section>
    {{end}}

    {{with where .Pages "Params.level" "diversity"}}
    <section id="diversity-sponsors">
        <h1 class="level">Diversity Sponsors</h1>
        {{range .}}
        {{.Render "full"}}
        {{end}}
    </section>
    {{end}}

    {{with where .Pages "Params.level" "media"}}
    <section id="media-sponsors">
        <h1 class="level">Media Sponsors</h1>
        {{range .}}
        {{.Render "full"}}
        {{end}}
    </section>
    {{end}}
</main>
{{partial "footer.html" .}}
